@model ContactCrud.Models.Contact

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="margin-top:30px">
    <div class="col-sm-12">

        <div class="panel panel-warning">
            <div class="panel-heading">
                <h4>Nuevo contacto</h4>
            </div>
            <div class="panel-body">
                <form action="@Url.Action("Register","Contact")" method="post">
                    <div class="form-group">
                        <label>Names</label>
                        <input type="text" class="form-control" name="Names" />
                    </div>
                    <div class="form-group">
                        <label>Lastnames</label>
                        <input type="text" class="form-control" name="LastNames" />
                    </div>
                    <div class="form-group">
                        <label>Phone</label>
                        <input type="text" class="form-control" name="Phone" />
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" class="form-control" name="Email" />
                    </div>
                    <button type="submit" class="btn btn-primary">Register</button>
                    <a class="btn btn-warning" href="@Url.Action("Home","Contact")">Back</a>
                </form>
            </div>
        </div>
    </div>
</div>